In [1]:
A = {"python",123,("python",123)}
A

{('python', 123), 123, 'python'}

In [4]:
b = set("pypy123")

In [6]:
b

{'1', '2', '3', 'p', 'y'}

In [7]:
c = {"python",123,"python",123}
c

{123, 'python'}

In [8]:
a = {'p','y',123}

In [9]:
b = set('pypy123')

In [10]:
a-b

{123}

In [11]:
b - a

{'1', '2', '3'}

In [12]:
a&b

{'p', 'y'}

In [13]:
a|b

{'1', 123, '2', '3', 'p', 'y'}

In [14]:
a^b

{'1', 123, '2', '3'}

In [15]:
a = {'p','y',123}

In [17]:
for item in a:
    print(item,end="")

123yp

In [18]:
a

{123, 'p', 'y'}

In [19]:
try:
    while True:
        print(a.pop(),end="")
except:
    pass

123yp

In [20]:
a

set()

In [22]:
"p" in {'p','y',123}

True

In [23]:
{'p','y'} >= {'p','y',123}

False

In [24]:
ls = ['p','p','y','y',123]
s = set(ls)
s

{123, 'p', 'y'}

In [29]:
a = ['p','y',123]

In [31]:
len(a)

3

In [33]:
d = 'python123.io'
max(d)

'y'

In [34]:
creature = 'cat',"dog",'tiger','human'
creature

('cat', 'dog', 'tiger', 'human')

In [35]:
color = (0x001100,'blue',creature)
color

(4352, 'blue', ('cat', 'dog', 'tiger', 'human'))

In [36]:
creature[::-1]

('human', 'tiger', 'dog', 'cat')

In [37]:
color[-1][2]

'tiger'

In [38]:
ls = ["cat",'dog','tiger',1024]

In [39]:
ls

['cat', 'dog', 'tiger', 1024]

In [41]:
lt = ls

In [42]:
lt

['cat', 'dog', 'tiger', 1024]

In [1]:
ls = ['cat','dog','tiger',1024]

In [2]:
ls[1:2] = [1,2,3,4]

In [3]:
ls

['cat', 1, 2, 3, 4, 'tiger', 1024]

In [4]:
del ls[::3]

In [5]:
ls

[1, 2, 4, 'tiger']

In [6]:
ls * 2

[1, 2, 4, 'tiger', 1, 2, 4, 'tiger']

In [7]:
ls.append('a')

In [8]:
ls

[1, 2, 4, 'tiger', 'a']

In [9]:
b = ls.copy()
b

[1, 2, 4, 'tiger', 'a']

In [10]:
b.clear()

In [11]:
b

[]

In [13]:
ls.insert(3,"human")

In [14]:
ls

[1, 2, 4, 'human', 'tiger', 'a']

In [15]:
ls.reverse()

In [16]:
ls

['a', 'tiger', 'human', 4, 2, 1]

In [32]:
ls = []

In [33]:
ls += [1,2,3,4,5]

In [34]:
ls

[1, 2, 3, 4, 5]

In [35]:
ls[2] = 6

In [36]:
ls

[1, 2, 6, 4, 5]

In [37]:
ls.insert(2,7)
ls

[1, 2, 7, 6, 4, 5]

In [38]:
del ls[1]
ls

[1, 7, 6, 4, 5]

In [39]:
del ls[1:4]
ls

[1, 5]

In [40]:
0 in ls

False

# 字典

In [1]:
d = {'中国':'北京','美国':'华盛顿','法国':'巴黎'}
d

{'中国': '北京', '美国': '华盛顿', '法国': '巴黎'}

In [2]:
d['中国']

'北京'

In [5]:
de = {}
type(de)

dict

In [6]:
'中国' in d

True

In [7]:
d.keys()

dict_keys(['中国', '美国', '法国'])

In [8]:
d.values()

dict_values(['北京', '华盛顿', '巴黎'])

In [10]:
d.get('中国','伊斯兰堡')

'北京'

In [11]:
d.get('巴基斯坦','伊斯兰堡')

'伊斯兰堡'

In [13]:
d.popitem()

('法国', '巴黎')

In [14]:
d

{'中国': '北京', '美国': '华盛顿'}

In [15]:
d = {}

In [16]:
d['a'] = 1;d['b'] = 2

In [17]:
d['b'] = 3

In [18]:
'c' in d

False

In [19]:
len(d)

2

In [22]:
d.clear()

In [23]:
d

{}

# jieba

In [25]:
import jieba

In [27]:
jieba.lcut("中国是一个伟大的国家")

['中国', '是', '一个', '伟大', '的', '国家']

In [29]:
jieba.lcut("中国是一个伟大的国家",cut_all=True)

['中国', '国是', '一个', '伟大', '的', '国家']

In [30]:
jieba.lcut_for_search("中华人民共和国是伟大的")

['中华', '华人', '人民', '共和', '共和国', '中华人民共和国', '是', '伟大', '的']

In [31]:
jieba.add_word('蟒蛇语言')

# 文本词频统计