In [2]:
print ("Hello World")

Hello World

In [3]:
print("Hello World")#你好世界

Hello World

In [4]:
var1 = 100
var1

100

In [5]:
str = "Hello World!"

In [7]:
print (str)

Hello World!

In [8]:
print(str[0])

H

In [9]:
print(str[2:5])

llo

In [10]:
print(str[2:])

llo World!

In [11]:
print(str * 2)

Hello World!Hello World!

In [12]:
print(str + "TEST")

Hello World!TEST

In [13]:
list = ['name',147,2.58,'Jake',45.3]

In [14]:
lists = [123,"lisi"]

In [15]:
print (list)

['name', 147, 2.58, 'Jake', 45.3]

In [16]:
print(list[0])

name

In [17]:
print([list[1:3]])

[[147, 2.58]]

In [19]:
print (lists * 2)

[123, 'lisi', 123, 'lisi']

In [21]:
print(list+lists)

['name', 147, 2.58, 'Jake', 45.3, 123, 'lisi']

In [27]:
tuple = ('name',147,2.58,"Jack",45.3)
tuples = (123,'lisi')

In [28]:
tuple

('name', 147, 2.58, 'Jack', 45.3)

In [30]:
tuple[0]

'name'

In [31]:
tuple[1:3]

(147, 2.58)

In [32]:
tuple[2:]

(2.58, 'Jack', 45.3)

In [33]:
tuple * 2

('name', 147, 2.58, 'Jack', 45.3, 'name', 147, 2.58, 'Jack', 45.3)

In [34]:
tuples * 2

(123, 'lisi', 123, 'lisi')

In [35]:
tuple + tuples

('name', 147, 2.58, 'Jack', 45.3, 123, 'lisi')

In [37]:
dict = {}

In [39]:
dict['one'] = "This is one"

In [40]:
dict[2] = "This is two"

In [42]:
dicts = {'name':"lisi","code":6734, 'dept':"saies"}

In [43]:
dict['one']

'This is one'

In [45]:
dict[2]

'This is two'

In [46]:
dicts

{'name': 'lisi', 'code': 6734, 'dept': 'saies'}

In [47]:
dicts.keys()

dict_keys(['name', 'code', 'dept'])

In [49]:
dicts.values()

dict_values(['lisi', 6734, 'saies'])

In [53]:
def printme(str):
    "打印传入的字符串到标准显示设备上"
    print (str)
    return

In [54]:
printme("调用用户自定义函数")

调用用户自定义函数

In [55]:
printme("再次调用同一函数")

再次调用同一函数

In [56]:
def foo(x):
    return x ** 2

In [57]:
foo(8.0)

64.0

In [58]:
total = 0

In [60]:
def sum(arg1, arg2):
    #返回2个参数的和
    total = arg1 + arg2
    print("函数内是局部变量",total)
    return total

In [61]:
sum(10,20)

函数内是局部变量 30

30

In [62]:
total

0

In [63]:
sum = lambda arg1, arg2: arg1 + arg2

In [64]:
sum(10,20)

30

In [66]:
sum(40,80)

120

In [68]:
a = 20
b = 10
a != b

True

In [70]:
list3 = ['simppleBDT','simpleBSC',2016,8,14]

In [72]:
list3[2] = 2017

In [73]:
list3

['simppleBDT', 'simpleBSC', 2017, 8, 14]