# pandas常用方法

## pandas数据读取与写入

In [5]:
# 示例1，读入剪贴板数据，写入csv，转换为json、html、excel等格式 
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# 粘贴板内容
# 	A	B	C
# x	1	4	p
# y	2	5	q
# z	3	6	r

# 从粘贴板读取数据
df1 = pd.read_clipboard()
# 把数据放入到粘粘板中，数据可以直接粘粘到excel文件中
df1.to_clipboard()
# 读写csv文件,可以取消index
df1.to_csv('df1.csv')
df1.to_csv('df1_noIndex.csv', index = False)
df2 = pd.read_csv('df1.csv')
# 转化为json格式
df1.to_json()
# 读取json
pd.read_json(df1.to_json())
# 转化为html格式
df1.to_html('df1.html')
# 装换为excel格式
df1.to_excel('df1.xlsx')

In [6]:
# 示例2-1  read_csv
df=pd.read_csv("temp.csv")
print(df)

   S.No    Name  Age       City  Salary
0     1     Tom   28    Toronto   20000
1     2     Lee   32   HongKong    3000
2     3  Steven   43   Bay Area    8300
3     4     Ram   38  Hyderabad    3900

In [10]:
# 示例2-2 自定义索引: 可以指定csv文件中的一列来使用index_col定制索引。
df=pd.read_csv("temp.csv",index_col=['S.No'])
print (df)

        Name  Age       City  Salary
S.No
1        Tom   28    Toronto   20000
2        Lee   32   HongKong    3000
3     Steven   43   Bay Area    8300
4        Ram   38  Hyderabad    3900

In [ ]:
#示例2-3 转换器 dtype
df = pd.read_csv("temp.csv", dtype={'Salary': np.float64})
print(df)
print(df.dtypes)

In [11]:
#示例2-3 使用names参数指定标题的名称
df=pd.read_csv("temp.csv", names=['a', 'b', 'c','d','e'])
print(df)

      a       b    c          d       e
0  S.No    Name  Age       City  Salary
1     1     Tom   28    Toronto   20000
2     2     Lee   32   HongKong    3000
3     3  Steven   43   Bay Area    8300
4     4     Ram   38  Hyderabad    3900

观察可以看到，标题名称附加了自定义名称，但文件中的标题还没有被消除。 现在，使用header参数来删除它。
如果标题不是第一行，则将行号传递给标题。这将跳过前面的行。

In [12]:
df=pd.read_csv("temp.csv",names=['a','b','c','d','e'],header=0)
print(df)

   a       b   c          d      e
0  1     Tom  28    Toronto  20000
1  2     Lee  32   HongKong   3000
2  3  Steven  43   Bay Area   8300
3  4     Ram  38  Hyderabad   3900

In [13]:
# 示例2-4 skiprows跳过指定的行数。
df=pd.read_csv("temp.csv", skiprows=2)
print (df)

   2     Lee  32   HongKong  3000
0  3  Steven  43   Bay Area  8300
1  4     Ram  38  Hyderabad  3900

##  描述性统计方法

In [29]:
# 示例3  描述统计方法
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Minsu','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
print(df, '\n')
print(df.sum(), '\n')  # 列求和， 默认axis=0
print(df.sum(1), '\n')   # 行求和，axis=1
print(df.mean(), '\n')   # 求均值
print(df.std(), '\n')    # 标准差

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Minsu   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

Name      TomJamesRickyVinSteveMinsuJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

Age       31.833333
Rating     3.743333
dtype: float64

Age       9.232682
Rating    0.661628
dtype: float64

###### include是用于传递关于什么列需要考虑用于总结的必要信息的参数。获取值列表; 默认情况下是”数字值”。
object - 汇总字符串列; 
number - 汇总数字列; 
all - 将所有列汇总在一起(不应将其作为列表值传递).

In [28]:
print(df.describe(include=['number']))    # 统计信息摘要

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

## 迭代与遍历

In [39]:
# 迭代DataFrame
import pandas as pd
import numpy as np

N=5

df = pd.DataFrame({
    'D': pd.date_range(start='2019-01-01',periods=N,freq='M'),
    'x': np.linspace(0,stop=N-1,num=N),
    'y': np.random.rand(N),
    'z': np.random.choice(['Low','Medium','High'],N).tolist(),
    })

print(df,'\n')

for col in df:
   print(col)

           D    x         y       z
0 2019-01-31  0.0  0.571437    High
1 2019-02-28  1.0  0.521910  Medium
2 2019-03-31  2.0  0.364962     Low
3 2019-04-30  3.0  0.561096    High
4 2019-05-31  4.0  0.312570    High

D
x
y
z

In [40]:
# 遍历  iteritems()将每个列作为,将索引和值作为键和列值迭代为Series对象。
df = pd.DataFrame(np.random.rand(4,3),columns=['col1','col2','col3'])
for key,value in df.iteritems():
   print(key,value)

col1 0    0.189032
1    0.088379
2    0.018292
3    0.320569
Name: col1, dtype: float64
col2 0    0.454794
1    0.581986
2    0.067205
3    0.027683
Name: col2, dtype: float64
col3 0    0.459669
1    0.742531
2    0.592305
3    0.081399
Name: col3, dtype: float64

In [41]:
# iterrows()返回迭代器，产生每个索引值以及包含每行数据的序列。 
df = pd.DataFrame(np.random.rand(4,3),columns=['col1','col2','col3'])
for row_index,row in df.iterrows():
   print(row_index,row)

0 col1    0.330512
col2    0.648158
col3    0.006276
Name: 0, dtype: float64
1 col1    0.793552
col2    0.419818
col3    0.142505
Name: 1, dtype: float64
2 col1    0.155124
col2    0.958747
col3    0.067155
Name: 2, dtype: float64
3 col1    0.629477
col2    0.341689
col3    0.569596
Name: 3, dtype: float64

In [42]:
# itertuples()方法将为DataFrame中的每一行返回一个产生一个命名元组的迭代器。元组的第一个元素将是行的相应索引值，而剩余的值是行值。
df = pd.DataFrame(np.random.rand(4,3),columns=['col1','col2','col3'])
for row in df.itertuples():
    print(row)

Pandas(Index=0, col1=0.5648141732218348, col2=0.08344971305737703, col3=0.8683646775857635)
Pandas(Index=1, col1=0.05688701354902115, col2=0.10991581118232197, col3=0.07126703560769898)
Pandas(Index=2, col1=0.6880394568926367, col2=0.11410606417113411, col3=0.30359773267261636)
Pandas(Index=3, col1=0.5426231635233075, col2=0.4681726938470241, col3=0.9049256269917223)

# 排序

In [51]:
unsorted_df = pd.DataFrame(np.random.rand(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['A','B'])
print(unsorted_df,'\n')

sorted_df=unsorted_df.sort_index(ascending = True)  #按索引排序
print (sorted_df,'\n')

sorted_df=unsorted_df.sort_index(axis=1)  # 按列排序
print (sorted_df,'\n')

sorted_df = unsorted_df.sort_values(by='B') # 按'B'列的值进行排序
print (sorted_df,'\n')

          A         B
1  0.317958  0.819729
4  0.275815  0.621646
6  0.135542  0.241550
2  0.714122  0.151641
3  0.798709  0.662859
5  0.235265  0.191215
9  0.093220  0.050614
8  0.302075  0.864406
0  0.294041  0.557130
7  0.242075  0.505933

          A         B
0  0.294041  0.557130
1  0.317958  0.819729
2  0.714122  0.151641
3  0.798709  0.662859
4  0.275815  0.621646
5  0.235265  0.191215
6  0.135542  0.241550
7  0.242075  0.505933
8  0.302075  0.864406
9  0.093220  0.050614

          A         B
1  0.317958  0.819729
4  0.275815  0.621646
6  0.135542  0.241550
2  0.714122  0.151641
3  0.798709  0.662859
5  0.235265  0.191215
9  0.093220  0.050614
8  0.302075  0.864406
0  0.294041  0.557130
7  0.242075  0.505933

          A         B
9  0.093220  0.050614
2  0.714122  0.151641
5  0.235265  0.191215
6  0.135542  0.241550
7  0.242075  0.505933
0  0.294041  0.557130
4  0.275815  0.621646
3  0.798709  0.662859
1  0.317958  0.819729
8  0.302075  0.864406

# 缺失值处理

In [58]:
# 使用reindex()人为生成缺失值
df = pd.DataFrame(np.random.rand(4, 3), index=['a', 'c', 'e', 'f'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

print (df,'\n')

print(df['one'].isnull(),'\n')      # 缺失值标记
print (df['one'].notnull(),'\n')

        one       two     three
a  0.186266  0.886873  0.327252
b       NaN       NaN       NaN
c  0.567557  0.651344  0.232037
d       NaN       NaN       NaN
e  0.599943  0.986859  0.524712
f  0.348339  0.731453  0.192680
g       NaN       NaN       NaN

a    False
b     True
c    False
d     True
e    False
f    False
g     True
Name: one, dtype: bool

a     True
b    False
c     True
d    False
e     True
f     True
g    False
Name: one, dtype: bool

In [59]:
# 用标量填充
print ("NaN replaced with '0':")
print (df.fillna(0))

NaN replaced with '0':
        one       two     three
a  0.186266  0.886873  0.327252
b  0.000000  0.000000  0.000000
c  0.567557  0.651344  0.232037
d  0.000000  0.000000  0.000000
e  0.599943  0.986859  0.524712
f  0.348339  0.731453  0.192680
g  0.000000  0.000000  0.000000

In [60]:
# 向前填充
print (df.fillna(method='pad'))

        one       two     three
a  0.186266  0.886873  0.327252
b  0.186266  0.886873  0.327252
c  0.567557  0.651344  0.232037
d  0.567557  0.651344  0.232037
e  0.599943  0.986859  0.524712
f  0.348339  0.731453  0.192680
g  0.348339  0.731453  0.192680

In [61]:
# 向后填充
print (df.fillna(method='backfill'))

        one       two     three
a  0.186266  0.886873  0.327252
b  0.567557  0.651344  0.232037
c  0.567557  0.651344  0.232037
d  0.599943  0.986859  0.524712
e  0.599943  0.986859  0.524712
f  0.348339  0.731453  0.192680
g       NaN       NaN       NaN

###### 缺失值丢弃

In [66]:
df = pd.DataFrame(np.random.rand(4, 3), index=['a', 'c', 'e', 'f'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

print (df,'\n')
print(df.dropna(),'\n')       #丢弃含NaN值的行
print(df.dropna(axis=1)) #丢弃含NaN值的列

        one       two     three
a  0.432330  0.352715  0.079177
b       NaN       NaN       NaN
c  0.694525  0.902293  0.800932
d       NaN       NaN       NaN
e  0.777439  0.781499  0.374718
f  0.912139  0.870626  0.096564
g       NaN       NaN       NaN

        one       two     three
a  0.432330  0.352715  0.079177
c  0.694525  0.902293  0.800932
e  0.777439  0.781499  0.374718
f  0.912139  0.870626  0.096564

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g]

In [68]:
# 替换通用数据或者缺失值
df = pd.DataFrame({'one':[10,20,30,40,50,2000],'two':[1000,0,30,40,50,60]})
print(df,'\n')
print(df.replace({1000:10,2000:60}))

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60